{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img src="https://st2.depositphotos.com/1008347/6291/i/600/depositphotos_62910831-stock-photo-businessman-typing-login-and-password.jpg" alt="webApp">
            
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>


           

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}


            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
             </div>

        </form>
    </div>
</body>
{% endblock %}